<ion-header>
  <ion-toolbar> 
    <ion-title size="large" class="titulo">Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="primario">

  <ion-card class="terciario">
    <ion-card-header>
      <ion-card-title>Empresa</ion-card-title>
      <ion-card-subtitle> <ion-input [(ngModel)]="document.data.empresa"></ion-input></ion-card-subtitle>
    </ion-card-header>


    <ion-card-header>
      <ion-card-title>Medicamento</ion-card-title>
      <ion-card-subtitle><ion-input [(ngModel)]="document.data.medicamento"></ion-input></ion-card-subtitle>
    </ion-card-header>

    <ion-button class="secundario" fill="clear" (click)="volver()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    <ion-button class="secundario" fill="clear" *ngIf="(!this.nuevo)" (click)="presentAlert()"><ion-icon name="trash-outline"></ion-icon></ion-button>
    <ion-button class="secundario" fill="clear" *ngIf="(!this.nuevo)" (click)="clicBotonModificar()"><ion-icon name="refresh-circle-outline"></ion-icon></ion-button>
    <ion-button class="secundario" fill="clear" *ngIf="(this.nuevo)" (click)="clickBotonInsertar()"><ion-icon name="save-outline"></ion-icon></ion-button>
    <ion-button class="secundario" fill="clear" *ngIf="(!this.nuevo)" (click)="uploadImagePicker()"> <ion-icon name="images-outline"></ion-icon></ion-button>
  </ion-card>
</ion-content>
<ion-toolbar>
  <ion-tabs id="tab">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home" id="icons"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="informacion">
        <ion-icon name="information-circle" id="icons"></ion-icon>
        <ion-label>Sobre la App</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>