<ion-header>
  <ion-toolbar>
    <ion-title>Informacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="farmaceuticas">
    <h1>Farmacéuticas</h1>
    <p>En esta página encontrarás información sobre diferentes compañías farmacéuticas y sus productos.</p>
  </div>
  <ion-grid>
    <p>
      Las compañías farmacéuticas son empresas dedicadas a la investigación, desarrollo, fabricación y comercialización de medicamentos y productos de salud. Su principal función es descubrir, desarrollar y distribuir medicamentos que sean seguros y efectivos para tratar diversas enfermedades y mejorar la calidad de vida de las personas.

Las farmacéuticas realizan investigaciones para descubrir nuevos medicamentos, que pueden ser productos completamente nuevos o mejoras de medicamentos ya existentes. Luego, llevan a cabo pruebas clínicas para evaluar la seguridad y eficacia de los medicamentos antes de que puedan ser aprobados por las agencias reguladoras de cada país, como la FDA en Estados Unidos o la EMA en la Unión Europea.

Una vez que los medicamentos son aprobados, las farmacéuticas los fabrican y los distribuyen a través de una amplia red de distribuidores y proveedores de atención médica. Además, también realizan actividades de marketing para promocionar sus productos y educar a los médicos y pacientes sobre su uso adecuado.

En resumen, las farmacéuticas desempeñan un papel crucial en el desarrollo y distribución de medicamentos que salvan vidas y mejoran la salud de las personas en todo el mundo. Su función principal es proporcionar productos seguros y efectivos para el tratamiento y prevención de enfermedades, y mejorar la calidad de vida de los pacientes.
    </p>
  </ion-grid>
</ion-content>


<ion-toolbar>
  <ion-tabs id="tab">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home" id="icons"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="infoormacion">
        <ion-icon name="information-circle" id="icons"></ion-icon>
        <ion-label>Sobre la App</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>