.farmaceuticas {
    background-color: #f7f7f7;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .farmaceuticas h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .farmaceuticas p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
  }
  